<div class="containerInputs">

<h3> students: {{numOfStudents}} </h3>
<img src="../../assets/imges/Minus-02.png" height="20" width="20" (click)="minusStudents()">
<img src="../../assets/imges/Plus-01.png" height="20" width="20" (click)="plusStudents()">
<br>

<h3> Teachers: {{numOfTeachers}} </h3>
<img src="../../assets/imges/Minus-02.png" height="20" width="20" (click)="minusTeachers()">
<img src="../../assets/imges/Plus-01.png" height="20" width="20" (click)="plusTeachears()">

<br>

<input type="button" value="Lets Make It!" (click)="sendNumForArrey()">

</div>
